/* <CHECKOUT_CART> */
.item {
    background: red !important;
    color: green !important;
  }
  
  #item-name {
    color: white;
  }
  
  #item-description {
    color: white;
  }
  
  #item-quantity {
    color:white;
  }
  
  #item-price {
    color:white;
  }
  
  #item-quantity {
    color:white;
  }
  
  #cart-total {
    background: red;
  }
  
  #cart-total-subtotal {
    color:white;
  }
  
  #cart-total-hst {
    color: white;
  }
  
  #cart-total-amount {
    color:white;
  }
  
  .white-text {
    color:white;
  }
  /* </CHECKOUT_CART> */
  